In [2]:
import pandas as pd
import matplotlib.pyplot as plt
plt.tight_layout()
dataset = pd.read_parquet("../data/dataset3.parquet")

In [3]:
dataset.head()

,game,roll,x,y,light_turn,utility,light_score,dark_score,light_left,dark_left,...,game10,game11,game12,game13,game14,game15,game16,game17,game18,game19
0,--- --- --- L-- .-. .-. --- ---,2,0,4,True,2.179044,0.0,0.0,6.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,--- --- --- L-- .-. .-. --- ---,2,0,3,True,0.702646,0.0,0.0,6.0,7.0,...,0,0,0,0,0,0,0,0,0,0
2,--- --- --- L-- .-. .-. --- ---,3,0,3,True,4.131189,0.0,0.0,6.0,7.0,...,0,0,0,0,0,0,0,0,0,0
3,--- --- --- L-- .-. .-. --- ---,3,0,4,True,3.383683,0.0,0.0,6.0,7.0,...,0,0,0,0,0,0,0,0,0,0
4,--- --- --- L-- .-. .-. --- ---,4,0,4,True,5.917235,0.0,0.0,6.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
dataset["rank"].dtype

dtype('float64')

In [13]:
dfg = dataset.groupby(["game", "roll"])
query = dfg.size()

In [14]:
query = dfg.size()

In [19]:
query.values

array([2, 2, 2, ..., 2, 3, 3], dtype=int64)

In [28]:
for kek in dfg:
    print(kek)
    break

(('--- --- --- --- .-. .-. --- -D-', 1),                                    game  roll  x  y  light_turn   utility  \
664675  --- --- --- --- .-. .-. --- -D-     1  2  4       False  3.184965
664676  --- --- --- --- .-. .-. --- -D-     1  1  7       False  2.123205

        light_score  dark_score  light_left  dark_left  ...  game10  game11  \
664675          6.0         4.0         1.0        2.0  ...       0       0
664676          6.0         4.0         1.0        2.0  ...       0       0

        game12  game13  game14  game15  game16  game17  game18  game19
664675       0       0       0       0       0       0       1       0
664676       0       0       0       0       0       0       1       0

[2 rows x 31 columns])