In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.tight_layout()
dataset = pd.read_parquet("../data/dataset_depth8.parquet")

In [2]:
dataset.head()

,game,roll,x,y,light_turn,utility,light_score,dark_score,light_left,dark_left,...,game10,game11,game12,game13,game14,game15,game16,game17,game18,game19
0,--- --- L-D --- .-. .-. --- ---,1,0,4,True,-0.158741,0,0,6,6,...,0,0,0,0,0,0,0,0,0,0
1,--- --- L-- --D .-. .-. --- ---,1,0,4,True,-0.053221,0,0,6,6,...,0,1,0,0,0,0,0,0,0,0
2,--- --- --D L-- .-. .-. --- ---,2,0,4,True,0.841259,0,0,6,6,...,0,0,0,0,0,0,0,0,0,0
4,--- L-- --- --D .-. .-. --- ---,1,0,1,True,0.586200,0,0,6,6,...,0,1,0,0,0,0,0,0,0,0
5,--- --- --- L-D .-. .-. --- ---,2,0,4,True,0.946779,0,0,6,6,...,0,1,0,0,0,0,0,0,0,0

In [3]:
dataset["rank"].dtype

dtype('int32')

In [4]:
dfg = dataset.groupby(["game", "roll"])
query = dfg.size()

In [5]:
query = dfg.size()

In [6]:
query.values

array([2, 2, 2, ..., 2, 3, 4], dtype=int64)

In [7]:
for kek in dfg:
    print(kek)
    break

(('--- --- --- --- .-. .-. --- -D-', 1),                                     game  roll  x  y  light_turn   utility  \
1132359  --- --- --- --- .-. .-. --- -D-     1  2  4       False  2.325364
1132360  --- --- --- --- .-. .-. --- -D-     1  1  7       False  1.012049

         light_score  dark_score  light_left  dark_left  ...  game10  game11  \
1132359            1           0           6          6  ...       0       0
1132360            1           0           6          6  ...       0       0

         game12  game13  game14  game15  game16  game17  game18  game19
1132359       0       0       0       0       0       0       1       0
1132360       0       0       0       0       0       0       1       0

[2 rows x 31 columns])